html,body{
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}


.card{
  background-color: rgba(5, 184, 249, 0.147);
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px red;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  

  
}


.content{
  padding: 3px 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


.left{
  background: rgba(51, 51, 68, 0.429);
  padding: 3px 10px;
  border: 1px solid rgba(128, 128, 128, 0.196);
  border-radius: 10px;
  
}
.card img{
  border-radius:20px ;
  filter: drop-shadow(2px 5px 10px rgb(0, 124, 128));
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.app{
  display: flex;
gap: 50px;
  flex-wrap: wrap;
}

.apph1{
  text-align: center;
  font-size: 60px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(7, 136, 136);
  

}